.navbar-brand-image {
  height: 60px;
}

.table tbody tr td {
  vertical-align: middle;
}

.sortable {
  cursor: pointer;
}

.sortable::after {
  content: " \25B2\25BC";
  font-size: 0.8em;
  color: #ccc;
}

.sort-asc::after {
  content: " \25B2";
  color: #000;
}

.sort-desc::after {
  content: " \25BC";
  color: #000;
}

.img-product {
  height: 70px;
  width: 100%;
  object-fit: contain;
}
